/* CURSOR
  ========================================================================== */

body {
	cursor: none;

	a,
	button {
		cursor: none;
	}
}

.cursor {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;

	@include bp-tablet {
		display: block;
	}
}

.cursor--small {
	width: 20px;
	height: 20px;
	left: -10px;
	top: -10px;
	border-radius: 50%;
	z-index: 99;
	background: $teal;
}

.cursor--canvas {
	width: 100vw;
	height: 100vh;
	z-index: 100;
}
