/* TYPOGRAPHY
  ========================================================================== */

* {
	outline: none;
	box-sizing: border-box;
}

body {
	font-family: 'futura-pt', sans-serif;
	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

h1,
h2 {
	font-family: 'futura-pt', sans-serif;
	font-weight: 300;
	font-style: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

h1 {
	font-size: 2em;

	@include bp-tablet {
		font-size: 2.25em;
	}

	@include bp-desktop {
		font-size: 2.5em;
	}
}

h2 {
	font-size: 1.5em;

	@include bp-tablet {
		font-size: 1.75em;
	}

	@include bp-desktop {
		font-size: 2em;
	}
}

h3 {
	font-size: 1em;

	@include bp-tablet {
		font-size: 1.5em;
	}

	@include bp-desktop {
		font-size: 1.75em;
	}
}

p {
	padding: .25em 0;
	margin: 0;
	font-size: 1em;
	line-height: 1.2;
	font-weight: 200;

	@include bp-tablet {
		font-size: 1.25em;
	}

	@include bp-desktop {
		font-size: 1.5em;
	}
}

a {
	text-decoration: none;
	color: $dark-gray;
	font-weight: 400;
	position: relative;
}

.link-highlight {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: $teal;
	display: block;
	z-index: -1;
}

.futura-pt {
	font-family: 'futura-pt', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.miller-banner-light {
	font-family: 'miller-banner', serif;
	font-weight: 300;
	font-style: normal;
}
